.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.popupCard{
    width: 85%;
    max-width: 320px;
    background-color: var(--color-back);
    padding: 25px 20px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.2);
}
.popupTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--color-text);
}
.popupMessage{
    font-size: 15px;
    color: var(--color-text);
    margin-bottom: 25px;
}
.popupButtons{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.PopupOk{
    background: var(--color-icons);
    color: var(--color-back);
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    margin-left: auto;
    transition: 0.2s ease;
}
.popupCancel{
    background-color: var(--color-cards);
    border: none;
    color: var(--color-main);
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}