.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-back);
  padding: 20px;
}
.form {
  height: 700px;
  width: 100%;
  max-width: 330px;
  background: var(--color-back);
  padding: 25px;
  border-radius: 54px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.img{
    height: 190px;
    width: 240px;
    margin: 10px auto 40px auto;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.title {
  text-align: center;
  font-size: 16px;
  color: var(--color-main);
  margin-bottom: 25px;

  span {
    color: var(--color-icons);
    font-weight: bold;
    font-size: 15px;
  }
}
.historyList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footerNav {
  width: 100%;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: var(--color-cards);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.navBtn {
  width: 55px;
  height: 45px;
  background: var(--color-cards);
  border: 1px solid var(--color-cards);
  border-radius: 15px;
  font-size: 20px;
  color: var(--color-icons);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navBtn img{
  width: 28px;
  height: 28px;
}

