.loginContainer { 
width: 100%; 
display: flex;
flex-direction: column; 
align-items: center; 
justify-content: center; 
background: var(--color-main); 
padding: 20px; 
} 
.form { 
height: 750px; 
width: 100%; 
max-width: 330px; 
background: var(--color-back); 
padding: 25px; 
border-radius: 54px; 
display: flex; 
flex-direction: column; 
gap: 15px; 
align-items: center; 
position: relative;
box-shadow: 0 10px 30px rgba(0,0,0,0.15); 
}
.back{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 30px;
    cursor:pointer;
}
.logo {
    width: 150px;
    margin-top: 10px;
}
.titulo{
    margin: 10px 40px;
}
.imgMachine{
    width: 180px;
    margin: 20px;
}
.timerDonut{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 14px solid var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.timer{
    width: 80px;
    height: 80px;
    background-color: var(--color-back);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer p{
    color: var(--color-text);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

.restante{
    margin: 10px 65px;
    font-size: 18px;
}

.etapas{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}
.etapa{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}
.inactive{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 5px solid var(--color-cards)
}
.active{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 5px solid var(--color-main);
}

.btnNotif{
    background-color: var(--color-icons);
    color: var(--color-back);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}